
@using Skill_CodeFirstEntity.Models.classes

@model List<Skill>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
    }

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>YETENEK</th>
            <th>DEĞER</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.ID</td>
                <td>@p.Explanation</td>
                <td>@p.Value</td>
                <td><a href="/Admin/YetenekSil/@p.ID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Admin/YetenekGuncelle/@p.ID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }

    </table>

